<div class="flex justify-between pr-[6rem] items-center">
    <h1 class="text-2xl font-bold my-4 text-[var(--color-secondary)]">Gourmet Tasty Treats</h1>

    <!--
    <p-button (onClick)="refresh()" class="p-button-text" icon="pi pi-refresh" size="small" styleClass="mr-4"/>
    -->

    <p-select
        [(ngModel)]="sortOrder"
        [options]="sortOptions"
        optionLabel="label"
        optionValue="value"
        styleClass="w-60 h-12"
    />
</div>

<!-- Products Grid -->
<div class="flex gap-20">
    <menu class="min-w-[10rem]">
        <div class="mb-4">
            <p-checkbox
                [binary]="true"
                inputId="product-filter-rapid-ship"
            />
            <label class="pl-1 cursor-pointer" for="product-filter-rapid-ship">
                <i class="pi pi-bolt"></i>
                Rapid Ship&trade;
            </label>
        </div>

        <h3 class="text-lg font-bold">Categories</h3>
        <form [formGroup]="tagSearchForm">
            <ul>
                @for (tag of tags; track $index) {
                    <li class="pb-1">
                        <p-checkbox
                            [binary]="true"
                            formArrayName="tags"
                            name="tags[]"
                            inputId="product-filter-{{tag.id}}"
                            (onChange)="onTagChange($event, tag)"
                        />
                        <label class="pl-1 cursor-pointer" for="product-filter-{{tag.id}}">
                            {{ tag.name }}
                        </label>
                    </li>
                }
            </ul>
        </form>
    </menu>

    <!-- Product grid -->
    @if (products) {
        <div class="product-list gap-[10px] flex flex-wrap">
            @for (product of products; track $index) {
                <app-product
                    [cartMap]="cartMap"
                    [product]="product"
                    class="flex-shrink-0"
                ></app-product>
            }
        </div>
    }

    <!-- Skeletons -->
    @if (products.length === 0 || isLoading) {
        <div class="product-list gap-[10px] flex flex-wrap">
            @for (i of [].constructor(12); track $index) {
                <p-skeleton width="300px" height="370px"></p-skeleton>
            }
        </div>
    }

    <!-- Error State -->
    @if (error) {
        <div class="text-red-500 text-center mt-4">Error fetching products: {{ error }}</div>
    }
</div>

