<h1 class="text-2xl font-bold my-4 text-[var(--color-secondary)]">Dog Treats</h1>

<!-- Loading State -->
<div *ngIf="(products$ | async) === null" class="text-center text-gray-500">
  Loading products...
</div>
<!-- Error State -->
<div *ngIf="error" class="text-red-500 text-center mt-4">Error fetching products: {{ error }}</div>

<!-- Products Grid -->
<div *ngIf="products$ | async as products" class="product-list flex flex-wrap items-center">
  <app-product
    *ngFor="let product of products"
    [cartMap]="cartMap"
    [product]="product"
    class="flex-shrink-0"
  ></app-product>
</div>
