.product-card {
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.product-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  object-fit: cover;
}
