<div class="product-image bg-[var(--color-card-background)]">
    <a routerLink="/inventory/item/{{product.slug}}">
        <app-product-image [product]="product"/>
    </a>
</div>

<div class="product-card bg-[var(--color-card-background)] p-4 text-center text-white">
    <h2 class="text-lg font-bold text-white mt-0 underline">
        <a class="hover:text-[var(--color-secondary)]" routerLink="/inventory/item/{{product.slug}}"
           title="Visit product page">{{ product.name }}</a>
    </h2>
    <p class="mb-4 text-[var(--color-secondary)]">
        <a routerLink="/inventory/item/{{product.slug}}">
            {{ product.description }}
        </a>
    </p>

    <div class="mt-4 flex justify-between">
        <div class="text-left">
            <div class="product-price text-green-500 font-bold">
                ${{ product.price.toFixed(2) }}
            </div>
            <div>
                <a class="text-[var(--color-secondary)]"
                   routerLink="/inventory/item/{{product.slug}}"
                   title="View reviews">
                    <fa-icon [icon]="faComments"></fa-icon>
                    {{ product.numReviews }} Reviews
                </a>
            </div>
        </div>

        <p-button
            (onClick)="addToCart(product)"
            [badge]="getCartQuantity(product.id)"
            [disabled]="isLoading"
            class="product-button"
            label="Add"
            styleClass="bg-[var(--color-secondary)]"
        >
            <fa-icon [icon]="faCartPlus"></fa-icon>
        </p-button>
    </div>
</div>
