<div class="product-image">
  <img ngSrc="/images/dog-treat.png" priority alt="{{productDescription}}" height="202" width="300"/>
</div>
<div class="product-card bg-[var(--color-card-background)] p-4 text-center text-white">
  <h2 class="font-bold text-white mt-0">{{ productName }}</h2>
  <p class="mb-4 text-[var(--color-secondary)]">{{ productDescription }}</p>

  <div class="mt-4 flex justify-between">
    <div class="text-left">
      <div class="product-price text-green-500 font-bold">
        ${{ productPrice.toFixed(2) }}
      </div>
      <div>
        5 Reviews
      </div>
    </div>

    <p-button label="Add to Cart" class="product-button"></p-button>
  </div>
</div>
