<p-select
    (onChange)="onQuantityChange(cartItems, cartItem)"
    [(ngModel)]="cartItem.quantity"
    [ngModelOptions]="{standalone: true}"
    [options]="quantityOptions"
    class="w-full"
    optionLabel="label"
    optionValue="value"
>
    <ng-template #selectedItem let-selectedOption>
        <div *ngIf="selectedOption" class="flex items-center gap-2">
            <div>{{ selectedOption.label }}</div>
        </div>
    </ng-template>
    <ng-template #item let-option>
        <div class="flex items-center gap-2">
            <div>{{ option.label }}</div>
        </div>
    </ng-template>
</p-select>
