html[data-theme="orchid"] {
    --color-background: #3F3E42;
    --color-header: #1D1136;
    --color-card-background: #483D5E;
    --color-secondary: #A990DE;
    --color-tertiary: #7B738C;

    // TW overrides
    --p-primary-color: var(--color-header);
}
