@if (accountProfile) {
    <p-avatar
        (click)="menu.toggle($event)"
        class="mr-2 ml-6 cursor-pointer"
        image="/images/avatars/{{ accountProfile.avatarFilename }}"
        shape="circle"
        size="large"
        title="Signed in as {{ accountProfile.user.username }}"
    />
}

<p-menu #menu [model]="userMenuItems" [popup]="true">
    <ng-template #item let-item>
        <a [routerLink]="item.url" class="flex items-center p-menu-item-link" pRipple>
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            @if (item.badge) {
                <p-badge [value]="item.badge" class="ml-auto"/>
            }
            @if (item.shortcut) {
                <span class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
            </span>
            }
        </a>
    </ng-template>
</p-menu>
