<app-admin-page-wrapper>
    <div class="flex justify-between">
        <div class="w-1/2">
            <h2 class="text-lg font-bold pb-2">{{ product.name }}</h2>
            @if (product.tags.length > 0) {
                <ul class="flex flex-wrap gap-1">
                    @for (tag of product.tags; track $index) {
                        <li class="mb-1">
                            <p-tag
                                icon="pi pi-tag"
                                severity="secondary"
                                value="{{tag.name}}"/>
                        </li>
                    }
                </ul>
            }
        </div>

        <div class="flex gap-4 justify-end">
            <p-button
                icon="pi pi-plus"
                label="Add Item"
                routerLink="/inventory/add-item"
                severity="info"/>

            @if (product) {
                <p-button
                    icon="pi pi-box"
                    label="View Item"
                    severity="info"
                    routerLink="/inventory/item/{{product.slug}}"/>
            }
        </div>
    </div>
    @if (product) {
        <app-admin-edit-inventory-item [item]="product"/>
    }
</app-admin-page-wrapper>
