<app-admin-page-wrapper>
    <div class="flex gap-4 justify-end">
        <p-button
            icon="pi pi-plus"
            label="Add Item"
            routerLink="/inventory/add-item"
            severity="info"/>

        @if (product) {
            <p-button
                icon="pi pi-box"
                label="View Item"
                severity="info"
                routerLink="/inventory/item/{{product.slug}}"/>
        }
    </div>
    @if (product) {
        <app-admin-edit-inventory-item [item]="product"/>
    }
</app-admin-page-wrapper>
