@if (item) {
    <form [formGroup]="itemForm">
        <section class="w-full">
            <section class="flex  gap-4">
                <!-- Left -->
                <section class="flex flex-col mb-4 w-1/3 gap-4">
                    <div>
                        <label class="block pb-2" for="item-name">Name</label>
                        <input formControlName="name" id="item-name" pInputText type="text"/>
                    </div>

                    <div>
                        <label class="block pb-2" for="item-price">Price</label>
                        <input formControlName="price" id="item-price" pInputText type="number"/>
                    </div>

                    <div>
                        <label class="block pb-2" for="item-tags">Tags</label>
                        <p-multiselect
                            id="item-tags"
                            [options]="tagList"
                            formControlName="tags"
                            optionLabel="name"
                            placeholder="Select Tags"
                            styleClass="w-full md:w-80"></p-multiselect>
                    </div>
                </section>

                <!-- Right -->
                <section class="w-1/2">
                    <label class="block pb-2" for="item-image">Image</label>
                    <div class="flex gap-4">
                        <section class="mb-4">
                            @if (item.imageFilename) {
                                <img src="/images/products/{{ item.imageFilename }}" alt="Item image"/>
                            } @else {
                                <div
                                    class="flex items-center justify-center bg-[var(--color-card-background)] h-[100px] w-[100px] rounded-md text-2xl text-white">
                                    <i class="pi pi-image"></i>
                                </div>
                            }
                        </section>

                        <!--
                        <p-fileupload
                            id="item-image"
                            mode="basic"
                            name="item.imageFilename"
                            chooseIcon="pi pi-upload"
                            url="http://localhost:8080/api/v1/inventory/item/{{item.slug}}/image"
                            accept="image/*"
                            maxFileSize="1000000"
                            (onUpload)="onUploadItemImage($event)"
                            chooseLabel="Browse"/>
                            -->

                        <p-fileupload
                            name="file"
                            url="http://localhost:8080/api/v1/inventory/item/{{item.slug}}/image"
                            (onUpload)="onUploadItemImage($event)"
                            [multiple]="true"
                            accept="image/*"
                            maxFileSize="1000000"
                            mode="advanced">
                            <ng-template #empty>
                                <div>Drag and drop files to here to upload.</div>
                            </ng-template>
                            <ng-template #content>
                                <!--
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                </ul>
                                -->

                            </ng-template>
                        </p-fileupload>
                    </div>
                </section>
            </section>

            <section class="flex justify-between gap-4 mt-4 max-w-md">
                <div>
                    <label class="block pb-2" for="item-short-description">Short Description</label>
                    <textarea rows="5" cols="30" maxlength="255" pTextarea
                              formControlName="shortDescription"></textarea>
                </div>
                <div>
                    <label class="block pb-2" for="item-description">Description</label>
                    <textarea rows="5" cols="30" maxlength="1000" pTextarea formControlName="description"></textarea>
                </div>
            </section>
        </section>

        <section class="justify-end mt-4 flex">
            <p-button
                (onClick)="save()"
                icon="pi pi-save"
                iconPos="left"
                label="Save"
                [disabled]="itemForm.invalid"
                type="submit"/>
        </section>
    </form>
} @else {
    <p-progressSpinner/>
}
