@if (product) {
    <section class="flex justify-between mb-3">
        <div>
            <h1 class="text-2xl mb-1 font-bold my-4 text-[var(--color-secondary)]">{{ product.name }}</h1>
            <p-rating class="" readonly="true" [(ngModel)]="productRating"/>
        </div>
        <div class="pt-6">
            <p-button
                routerLink="/admin/inventory/item/{{product.slug}}"
                label="Edit Item"
                icon="pi pi-pencil"
                class="p-button-text"
                styleClass="mr-2"/>
        </div>
    </section>

    <div class="flex product-details gap-4 justify-between">
        <div class="flex flex-col gap-4 flex-1">
            <div class="flex gap-4">
                <div class="product-image max-w-">
                    <app-product-image [product]="product"/>
                </div>
                <div class="product-description w-full flex justify-between gap-4">
                    <section class="w-1/2">
                        <p-card header="About this item"
                                [style]="{ 'background-color': 'var(--color-card-background)' }">
                            <p class="m-0">
                                {{ product.description }}
                            </p>
                            <p class="m-0 mt-[4rem]">
                                <app-stock-status-indicator [inStock]="true"/>
                            </p>
                            <p class="m-0 mt-4">
                                @if (product.tags.length > 0) {
                                    <ul>
                                        @for (tag of product.tags; track $index) {
                                            <li class="pr-2 inline-block">
                                                <p-tag severity="success" [value]="tag.name" [rounded]="true"/>
                                            </li>
                                        }
                                    </ul>
                                }
                            </p>
                        </p-card>
                    </section>
                    <section class="w-1/2">
                        <p-card header="Product Details"
                                [style]="{ 'background-color': 'var(--color-card-background)' }">
                            <section class="m-0">
                                <ul class="list-disc">
                                    <li class="ml-4">These natural dog treats are made with added vitamins and minerals
                                        and contain
                                        no corn, wheat, or soy.
                                    </li>
                                    <li class="ml-4">Keep your pup begging for more with these soft treats featuring
                                        real ingredients
                                        like cherries and beef.
                                    </li>
                                    <li class="ml-4">These treats come in a resealable pouch and are great for training,
                                        traveling,
                                        or just to share some love.
                                    </li>
                                    <li class="ml-4">These chewy treats are crafted in the USA using the Earth’s best
                                        ingredients
                                    </li>
                                    <li class="ml-4">Choose your adventure and bring along these convenient treats with
                                        only 2
                                        calories a snack.
                                    </li>
                                </ul>
                            </section>
                        </p-card>
                    </section>
                </div>
            </div>

            @if (relatedProducts.length > 0) {
                <section class="related-products">
                    <h2 class="text-lg font-bold text-[var(--color-secondary)]">Related Products</h2>
                    <app-related-product-list/>
                </section>
            }

            <div class="gap-4">
                <h2 class="text-lg font-bold text-[var(--color-secondary)]">Reviews</h2>
                <div class="flex flex-col gap-4 mt-4">
                    <div class="flex justify-between gap-4">
                        <div class="w-full max-w-md">
                            <p-card [style]="{ 'background-color': 'var(--color-card-background)' }"
                                    header="Average Rating">
                                <app-product-reviews-summary [product]="product"/>
                            </p-card>
                        </div>

                        <div class="max-w-[60rem]">
                            <app-product-reviews-list/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-to-cart-area max-w-[15rem] w-full text-lg">
            <p-card header="Product Details"
                    [style]="{ 'background-color': 'var(--color-card-background)' }">
                <ul>
                    <li class="mb-4">${{ product.price.toFixed(2) }}</li>
                    <li class="mb-2">
                        <label for="product-cart-quantity">Quantity</label>
                    </li>
                    <li class="mb-2">
                        <p-select
                            [(ngModel)]="quantity"
                            [options]="quantityOptions"
                            id="product-cart-quantity"
                            optionLabel="label"
                            optionValue="value"
                            styleClass="w-full"
                        />
                    </li>
                    <li class="mb-4">
                        <p-button
                            (onClick)="addToCart(product)"
                            [disabled]="isLoading"
                            label="Add To Cart"
                            styleClass="mt-5 bg-[var(--color-secondary)] w-full"
                        >
                            <fa-icon [icon]="faCartPlus"></fa-icon>
                        </p-button>
                    </li>
                </ul>
            </p-card>
        </div>
    </div>
} @else {
    <p-progressSpinner [style]="{ width: '100px', height: '100px' }" styleClass="mx-auto"></p-progressSpinner>
}

@if (productNotFound) {
    <p-message severity="error" class="p-4">Product not found.</p-message>
}
