<h1 class="text-2xl font-bold my-4 text-[var(--color-secondary)]">Account</h1>

<div class="flex text-white">
    <menu class="w-[15rem] bg-[var(--color-card-background)] p-4 text-lg">
        <app-user-profile-menu/>
    </menu>

    <main class="bg-[var(--color-tertiary)] p-4 w-[60rem]">
        <ng-container *ngIf="accountProfile; else loading">
            <div class="border-b border-gray-900/10 pb-12">
                <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="col-span-full">
                        <label class="block text-sm/6 font-medium text-slate-200" for="user-avatar">Avatar</label>
                        <div class="mt-2 flex items-center gap-x-3">
                            <input #fileUpload
                                   (change)="onFileSelected($event)"
                                   class="file-input hidden"
                                   type="file">

                            @if (accountProfile?.avatarFilename) {
                                <p-avatar
                                    (click)="fileUpload.click()"
                                    id="user-avatar"
                                    class="mr-2 cursor-pointer"
                                    image="./images/avatars/{{ accountProfile.avatarFilename }}"
                                    shape="circle"
                                    size="xlarge"
                                />
                            } @else {
                                <p-avatar
                                    (click)="fileUpload.click()"
                                    icon="pi pi-user"
                                    class="mr-2"
                                    size="xlarge"
                                    shape="circle"/>
                            }
                            <!--
                            <p-fileupload
                                [multiple]="false"
                                accept="image/*"
                                maxFileSize="1000000"
                                name="file"
                                url="http://localhost:8080/api/v1/user/profile/avatar">
                                <ng-template #empty>
                                    <div>Drag and drop files to here to upload.</div>
                                </ng-template>
                            </p-fileupload>
                            -->
                            <p-fileupload
                                [auto]="true"
                                accept="image/*"
                                chooseIcon="pi pi-upload"
                                chooseLabel="Browse"
                                maxFileSize="1000000"
                                mode="basic"
                                name="file"
                                url="http://localhost:8080/api/v1/user/profile/avatar"/>
                            <p-progress-spinner *ngIf="isUploading"
                                                [style]="{ width: '30px', height: '30px' }"></p-progress-spinner>
                        </div>
                    </div>

                    <div class="col-span-4">
                        <label class="block text-sm/6 font-medium text-slate-200" for="about">About</label>
                        <div class="mt-2">
                                <textarea
                                    [(ngModel)]="accountProfile.about"
                                    [ngModel]="accountProfile?.about || ''"
                                    class="block w-full rounded-md px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                                    id="about"
                                    maxlength="255"
                                    name="about"
                                    pTextarea
                                    placeholder="Tell us about yourself"
                                    rows="3"
                                ></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <p-button
                    (onClick)="saveProfile()"
                    icon="pi pi-save"
                    iconPos="left"
                    label="Save"
                    type="button"/>
            </div>
        </ng-container>

        <ng-template #loading>
            <p-progressSpinner [style]="{ width: '50px', height: '50px' }"></p-progressSpinner>
        </ng-template>
    </main>
</div>
