@use "tailwindcss";

// App styles
@use "../app/app.component";
@use "../app/components/product-list/productList";
@use "../app/components/product/productCardStyles";
// Themes
@use "themes/orchid";


